body {
    background-color: aquamarine;
}

#divList {
    width: 30rem;
    background-color: white;
    margin: auto;
    margin-top: 25rem;
    
}

#divList {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#list {
    list-style-type: none;
}